body {
	background: slategrey;
	font-family: serif;
	color: white;
}

a {
	cursor: pointer;
	color: white;
	opacity: 0.7;
	transition: all 0.5s;
}

a:hover {
	opacity: 1;
	transition: all 0.5s;
}

.centered-flexbox {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.transcript {
	position: absolute;
	left: 1em;
	bottom: 1em;
	font-size: 3em;
}

.listening-indicator {
	position: absolute;
	top: 1em;
	right: 1em;
	text-align: center;
}

.links {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: 3em;
}

.no-pointer-events {
	pointer-events: none;
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes horizontal-scroll {
	from { left: -20%; }
	to { left: 120%; }
}

@keyframes vertical-scroll {
	from { top: 120%; }
	to { top: -20%; }
}

@keyframes rotate {
	from { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
	to { transform: translateX(-50%) translateY(-50%) rotate(720deg); }
}
